$primary-color: white;
$bg: yellowgreen;
$counter-height: 80px;

body {
  color: $primary-color;
  background-color: $bg;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sandbox-link {
  font-size: 3em;
}

.cat-clicker {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.096);
  padding: 30px;
  font-family: monospace;

  .name {
    font-size: 3em;
    font-weight: 100;
    margin: 10px auto 20px auto;
  }

  .cat {
    border-radius: 4px;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.096);
    cursor: pointer;
  }

  .counter {
    margin-top: 40px;
    border: dashed 4px lightblue;
    font-size: 4em;
    text-align: center;
    line-height: $counter-height;
    height: $counter-height;
    width: 180px;
  }
}
